* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.cv {
    background: rgba(0, 163, 255, 0.8);

}

/*hero*/
a {
    color: white;
    text-decoration: none;
}

.d-flex {
    display: flex;
}

header {
    width: 100%;
    position: absolute;
    padding: 20px;
    background: rgba(0, 133, 255, 0.76);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Mobile Menu Start*/
.mobile-menu {
    background: rgba(0, 133, 255, 0.76);
    width: 45px;
    height: 40px;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.mobile-menu span {
    display: inline-block;
    width: 100%;
    height: 3px;
    background: #fff;
    position: relative;
}

.mobile-menu span:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    bottom: 10px;

}

.mobile-menu span:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 10px;

}

/*Mobile Menu End*/
.logo {
    font-weight: bold;
    font-size: 28px;
    color: white;
}

.top-menu {
    z-index: 999;
}

.top-menu-item {
    font-size: 21px;
    margin-left: 58px;
    color: white;
    transition: .6s;
}

.top-menu-item:hover {
    color: #333;
}

.header-link {
    font-size: 14px;
    background: rgba(0, 133, 255, 0.76);
    padding: 14px 35px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    transition: .6s;
}

.header-link:hover {
    color: #333;
}

.hero-btn {
    margin-top: 25px;
    transform: translateX(548px);
    font-weight: 600;
}

#hero {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.4) url("../images/hero-bg.png") no-repeat fixed center/cover;
    background-blend-mode: darken;
}

.hero-content {
    width: 100%;
    padding-top: 179px;
    height: 66vh;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.title {
    font-size: 40px;
    color: #00f0ff;
    font-weight: bold;
    padding-bottom: 42px;
}

.sub-title {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 61px;
}

.sub-title-subtitle {
    font-size: 30px;
    font-weight: bold;
}

#hero .row {
    margin: 0 55px;
    padding-top: 50px;
}
hero_row__content{
    margin-bottom: 30px;
}
#hero .col-4 {
    padding: 0 55px;
}

.content-item {
    width: 100%;
    color: white;
    text-align: center;
    background: rgba(0, 82, 157, 0.83);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.second-content-title {

}

.d-flex {
    display: flex;
}

.btn {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
}

button {
    display: inline-block;
}


.content-bootcamp {
    padding-top: 73px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.row-wrap {
    background: rgba(0, 163, 255, 0.8);

}

.profession-item {
    position: relative;
    padding: 40px 0 20px;

}

.verticalLine {
    border-left: 2px solid #E5E5E5;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -154px;
    top: 117px;
}

.col-icons {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-profession {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 24px 0;
}

.profession-content {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #eee8e8;
    padding: 8px 6px 20px;
}

/*SECTION DIFFERENCE OF OUR BOOTCAMP*/
.difference-bootcamp {
    padding: 86px 0 117px;
    background: url("../images/bg5.png") no-repeat center/cover;

}

.difference-bootcamp-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    color: #00A3FF;
    padding-bottom: 86px;
}

.title-content {
    font-size: 32px;
    line-height: 41px;
    color: #030A6A;
    padding-bottom: 24px;
}

.content-subtitle {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.materials-box {
    display: flex;
    margin-bottom: 91px;
}

.col-8 {
    width: 66.6666%;
}

/* SECTION OUR TEAM */

.our-team {
    padding: 104px 0 108px;
    background: #fff;
}

.our-team-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    color: #00A3FF;
    padding-bottom: 37px;
}

.owner-company {
    width: 451px;
    height: 313px;
    background: #FFFFFF;
    border: 12px solid #2D9CDB;
    position: relative;
    padding-bottom: 38px;

}

.owner-company img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 38px;

}

.owner-info {
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #030A6A;
    padding-top: 180px;

}

.owner-desc {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    padding: 20px 57px;
    position: absolute;
}

.owner-info-details {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    position: relative;
    padding: 120px 66px 36px;
}

.owner-info-details:before {
    content: "";
    display: block;
    width: 572px;
    height: 5px;
    left: 0;
    bottom: 49px;
    position: absolute;
    border-bottom: 4px solid #2D9CDB;
}

.wrap-wrap {
    display: flex;
    margin-bottom: 43px;
    padding-top: 140px;
}

.wrap-wrap1 {
    display: flex;
    justify-content: flex-end;
    padding-top: 92px;
}

.owner-company1 {
    width: 451px;
    height: 313px;
    background: #FFFFFF;
    border: 12px solid #2D9CDB;
    position: relative;
    padding-bottom: 38px;
}

.owner-company1 img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 38px;
}

.wrap-wrap1 .owner-info-details:before {
    content: "";
    display: block;
    width: 572px;
    height: 5px;
    left: 53px;
    bottom: 49px;
    position: absolute;
    border-bottom: 4px solid #2D9CDB;
}

/*для кого этот бутк*/
.bootcamp {
    background: rgb(3, 60, 247);
    z-index: 1;
    position: relative;
    padding-bottom: 50px;
}

.particle-network-animation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}


.particle-network-animation::before {
    z-index: -2;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    opacity: 0.2;
}

.glow {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), transparent);
}

/*$duration: 25s;*/
.glow-1 {
    width: 150vw;
    height: 150vh;
    margin-top: -75vh;
    margin-left: -75vw;
    animation: glow-1-move;
    /*$duration: linear infinite both;*/
}

@keyframes glow-1-move {
    from {
        transform: translate(-100%, 100%);
    }
    to {
        transform: translate(100%, -100%);
    }
}

.glow-2 {
    width: 100vw;
    height: 100vh;
    margin-top: -50vh;
    margin-left: -50vw;
    animation: glow-2-move;
    /*$duration:linear;*/
    /*$duration / 3 infinite both;*/
}

@keyframes glow-2-move {
    from {
        transform: translate(-100%, 0%);
    }
    to {
        transform: translate(100%, 100%);
    }
}

.glow-3 {
    width: 120vw;
    height: 120vh;
    margin-top: -60vh;
    margin-left: -60vw;
    animation: glow-3-move;
    /*$duration linear */
    /*$duration / 3 * 2 infinite both;*/
}

@keyframes glow-3-move {
    from {
        transform: translate(100%, 100%);
    }
    to {
        transform: translate(0%, -100%);
    }
}

.col-12 {
    width: 100%;

}

.box-pic {
    padding-top: 50px;
    margin-left: 226px;
}

.caption {
    padding-top: 67px;
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    color: #ffffff;
    justify-content: center;
}

.col-item {
    display: flex;
    margin-top: 20px;
}

.second-item {
    margin-left: 56px;
}

.second-title-item {
    margin-left: 133px;

}

.second-item-title {
    margin-left: 181px;
    padding-top: 70px;
}

.subject {
    padding: 0 55px 0;
}

.heading {
    font-weight: 500;
    font-size: 33px;
    line-height: 38px;
    color: #ffffff;
}

.text-title {
    padding-top: 22px;
    font-size: 20px;
    line-height: 23px;
    color: rgb(204 204 204);
}

.subject h2 {
    color: #ffffff;
}

.box-title {
    display: flex;
    margin-left: 220px;
}

/*SECTION ABOUT CV*/


.col-4 {
    width: 33.3333%;
    padding: 0 5px;
}

.cv-heading {
    text-align: center;
    padding: 50px 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: #fff;

}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-box-subtitle {
    margin: 29px 0 32px;
    text-align: center;
    font-size: 24px;
    padding: 7px 26px;
    font-weight: 500;
    line-height: 34px;
    color: #FFFFFF;
    width: 302px;
    height: 49px;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
}

.title-box-heading {
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.cv-item {
    border: 4px solid #FFFFFF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    width: 100%;
}

.third-item {
    padding: 39px 0 25px;
}

.first-item {
    padding: 39px 0 25px;
}

.second-cv-item {
    border: 4px solid #FFFFFF;
    border-radius: 15px;
    padding: 20px;
}

.second-cv-item ul {
    margin-top: 20px;
}

.cv-item ul {
    font-size: 18px;
    line-height: 25px;
    color: #012150;
    list-style: none;
}

.cv-item-title {
    width: 173px;
    height: 49px;
    background: #2D9CDB;
    border: 4px solid #FFFFFF;
    border-radius: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    padding: 6px 0;
    position: absolute;
    top: 316px;
}

.first-title {
    position: absolute;
    transform: translateY(-700%);
}

.second-title {
    width: 173px;
    height: 49px;
    background: #2D9CDB;
    border: 4px solid #FFFFFF;
    border-radius: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    transform: translateY(-342px);
    padding: 7px 22px;
    z-index: 1;
}

.third-cv-title {
    width: 173px;
    height: 49px;
    background: #2D9CDB;
    border: 4px solid #FFFFFF;
    border-radius: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    transform: translateY(-342px);
    padding: 6px 20px;
}

.money {
    text-align: center;
    font-size: 24px;
    padding: 7px 26px;
    font-weight: 500;
    line-height: 34px;
    color: #FFFFFF;
    width: 302px;
    height: 49px;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 138px 26px;
}

.developer-icon {
    position: absolute;
    transform: translate(30%, 56%);
}

.cv-li-title svg {
    margin-right: 20px;
}

.cv-li-title {
    display: flex;
    align-items: center;
}


/*SECTION VIDEO FEEDBACK*/

.video-lessons {
    padding: 60px 0 60px;
    color: white;
    text-align: center;
    height: 570px;
    position: relative;

}

.video-player {
    max-width: 970px;
    height: 430px;
    background: url("../images/player-bg.jpg") no-repeat center/cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    border-radius: 200px;
    padding: 20px 40px;
    color: white;
    font-weight: 500;
}

.player span {
    padding-left: 21px;
    display: inline-block;
}

.about-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    color: #00A3FF;
}

.feedbacks {
    padding: 120px 0 65px;
}

.feedback-title {
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    color: #00A3FF;
    margin-bottom: 42px;

}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

/*SECTION registration*/
.form-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.contact input[type="text"], .contact input[type="email"], .contact input[type="tel"], .contact input[type="url"], .contact textarea, .contact button[type="submit"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

.contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 30px 0;
}

.contact h3 {
    color: rgb(5, 105, 255);
    display: block;
    font-size: 30px;
    font-weight: 400;
}

.contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

.contact input[type="text"], .contact input[type="email"], .contact input[type="tel"], .contact input[type="url"], .contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

.contact input[type="text"]:hover, .contact input[type="email"]:hover, .contact input[type="tel"]:hover, .contact input[type="url"]:hover, .contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

.contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

.contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #0CF;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

.contact button[type="submit"]:hover {
    background: #09C;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.contact input:focus, .contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}
.section-form{
    background: aliceblue;
}
.form-header{
    margin: 20px 0;
}
.form-container{
    margin: 20px 0;
}
.form-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.form-title{
    font-size: 36px;
    margin-bottom: 40px;
    color: #00a3ff;
}
.form-sub{
    font-size: 28px;
    margin-bottom: 164px;
    font-weight: 500;
    color: #252525;
}
.form-desc{
    font-size: 26px;
    color: #00a3ff;

}


footer {
    background: #00A3FF;
}

.footer-row {
}

.footer-box {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.top-side {
    display: flex;
}

.bottom-side {
    display: flex;
    padding-top: 10px;
}

.mobile-number, .email-address {
    padding-left: 20px;
}

.footer-menu {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding-left: 20px;
}

.footer-desc {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.new_footer_area {
    background: #fbfbfd;
}
.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
    overflow-x: hidden;
}

.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}

.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}

.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #ffffff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}

